## Python

### Keyword

In [8]:
import os
import pandas as pd
import numpy as np

In [9]:
os.getcwd()

'C:\\Imran\\Training\\Inceptez\\Notebook'

In [1]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
del var1

In [3]:
a = 10
print(a)

10

In [4]:
TRUE = "True value"
print(TRUE)

True value

In [5]:
# case sensitive language

In [6]:
True = 10

SyntaxError: cannot assign to True (Temp/ipykernel_9784/2227483689.py, line 1)

In [7]:
5 < 3

False

In [46]:
2 + 25

27

## Identifier

In [11]:
var_1 = "First variable"
print(var_1)

First variable

 ## Python statements

In [56]:
digit = 1 + 2 +3 + \
4 + 5 + 6 + \
7 + 8 + 9

print(digit)

45

In [14]:
digit = (1 + 2 +3 + 
4 + 5 + 6 + 
7 + 8 + 9)

print(digit)

45

In [16]:
a = 1; b = 2; c = 3

print(a, b, c)

1 2 3

## Indendation

In [22]:
list(range(1, 8)) # end position = n-1

[1, 2, 3, 4, 5, 6, 7]

In [25]:
for i in range(1, 8):
    print(i)
    if (i == 5):
        break

1
2
3
4
5

In [30]:
for i in range(1,10): print(i)

1
2
3
4
5
6
7
8
9

In [34]:
if True: 
    print('True')

True

## Comment

In [37]:
#who are you?
print('I am an Software engineer')
print('I am an Analyst')
print('I am an Data Engineer')

I am an Software engineer
I am an Analyst
I am an Data Engineer

## Multi line comment

In [40]:
"""My first line of comment 
My second line of comment 
My third line of comment"""

'My first line of comment \nMy second line of comment \nMy third line of comment'

## Docstring

In [41]:
#comment
def function1():
    """My first function to print the statement"""
    print('This is my first function')

In [42]:
function1()

This is my first function

In [43]:
print(function1.__doc__)

My first function to print the statement

In [2]:
def addition_function(a, b):
    """Function to add two number"""
    return a + b

In [3]:
addition_function(5, 12)

In [50]:
print(addition_function.__doc__)

Function to add two number

## 02/05

In [4]:
from my_package import test_package

In [10]:
my_package_var = test_package.NAME
print(my_package_var)

PYTHON

## List

In [11]:
list1 = [1, 'two', 3.0]
print(list1)

[1, 'two', 3.0]

In [12]:
for i in list1:
    print(i)

1
two
3.0

## List comprehension

In [23]:
list2 = [20, 5.3, 25, 7.5]

[a for a in list2 if a < 20]

[5.3, 7.5]

# print each value (exp), for each value in the list(for loop), if the each value is less than 20 (condition)

In [13]:
# list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list2[2]

25

In [29]:
power2 = [a**2 for a in range(10) if a%2 == 0]

In [26]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
power2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing

In [42]:
list(range(0, 12, 2))

[0, 2, 4, 6, 8, 10]

In [30]:
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
list3[0]

1

In [34]:
 list3[2:5]

[3, 4, 5]

In [44]:
list3[-5:-2]

[6, 7, 8]

## List is mutable

In [37]:
list3[3] = 14

In [38]:
list3

[1, 2, 3, 14, 5, 6, 7, 8, 9, 10]

## Tuple is immutable

In [49]:
a = (1, 2, 3, 4, 5, 5, 5, 5)

In [50]:
a[2: 6]

(3, 4, 5, 5)

In [48]:
a[2] = 13

TypeError: 'tuple' object does not support item assignment

## String

In [51]:
s = "This is a string"
print(s)
type(s)

This is a string

str

In [54]:
s[-6:]

'string'

In [55]:
s[3] = 'r'

TypeError: 'str' object does not support item assignment

## Set - Unordered

In [56]:
set1 = {1, 2, 3, 4, 5}

In [57]:
type(set1)

set

In [58]:
set1[2]

TypeError: 'set' object is not subscriptable

In [70]:
set2 = {1,1,1,1,1, 2,2,2,2,2,4,3,3,3,3, 5, 8, 0, 6, 6 , 'string', 'string'}

In [71]:
set2

{0, 1, 2, 3, 4, 5, 6, 8, 'string'}

## Dictionary

#Unordered collection of the key-value pair

In [74]:
dict1 = {1: 'value1', 2:'value2', 3:'value3'}

In [75]:
type(dict1)

dict

In [77]:
dict1[1], dict1[3]

('value1', 'value3')

In [78]:
dict1['value2']

KeyError: 'value2'