## Python

### Keyword

In [8]:
import os
import pandas as pd
import numpy as np

In [9]:
os.getcwd()

'C:\\Imran\\Training\\Inceptez\\Notebook'

In [1]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
del var1

In [3]:
a = 10
print(a)

10

In [4]:
TRUE = "True value"
print(TRUE)

True value

In [5]:
# case sensitive language

In [6]:
True = 10

SyntaxError: cannot assign to True (Temp/ipykernel_9784/2227483689.py, line 1)

In [7]:
5 < 3

False

In [46]:
2 + 25

27

## Identifier

In [11]:
var_1 = "First variable"
print(var_1)

First variable

 ## Python statements

In [56]:
digit = 1 + 2 +3 + \
4 + 5 + 6 + \
7 + 8 + 9

print(digit)

45

In [14]:
digit = (1 + 2 +3 + 
4 + 5 + 6 + 
7 + 8 + 9)

print(digit)

45

In [16]:
a = 1; b = 2; c = 3

print(a, b, c)

1 2 3

## Indendation

In [22]:
list(range(1, 8)) # end position = n-1

[1, 2, 3, 4, 5, 6, 7]

In [25]:
for i in range(1, 8):
    print(i)
    if (i == 5):
        break

1
2
3
4
5

In [30]:
for i in range(1,10): print(i)

1
2
3
4
5
6
7
8
9

In [34]:
if True: 
    print('True')

True

## Comment

In [37]:
#who are you?
print('I am an Software engineer')
print('I am an Analyst')
print('I am an Data Engineer')

I am an Software engineer
I am an Analyst
I am an Data Engineer

## Multi line comment

In [40]:
"""My first line of comment 
My second line of comment 
My third line of comment"""

'My first line of comment \nMy second line of comment \nMy third line of comment'

## Docstring

In [41]:
#comment
def function1():
    """My first function to print the statement"""
    print('This is my first function')

In [42]:
function1()

This is my first function

In [43]:
print(function1.__doc__)

My first function to print the statement

In [2]:
def addition_function(a, b):
    """Function to add two number"""
    return a + b

In [3]:
addition_function(5, 12)

In [50]:
print(addition_function.__doc__)

Function to add two number

## 02/05

In [4]:
from my_package import test_package

In [10]:
my_package_var = test_package.NAME
print(my_package_var)

PYTHON

## List

In [11]:
list1 = [1, 'two', 3.0]
print(list1)

[1, 'two', 3.0]

In [12]:
for i in list1:
    print(i)

1
two
3.0

## List comprehension

In [23]:
list2 = [20, 5.3, 25, 7.5]

[a for a in list2 if a < 20]

[5.3, 7.5]

# print each value (exp), for each value in the list(for loop), if the each value is less than 20 (condition)

In [13]:
# list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list2[2]

25

In [29]:
power2 = [a**2 for a in range(10) if a%2 == 0]

In [26]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
power2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Slicing

In [42]:
list(range(0, 12, 2))

[0, 2, 4, 6, 8, 10]

In [30]:
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
list3[0]

1

In [34]:
 list3[2:5]

[3, 4, 5]

In [44]:
list3[-5:-2]

[6, 7, 8]

## List is mutable

In [37]:
list3[3] = 14

In [38]:
list3

[1, 2, 3, 14, 5, 6, 7, 8, 9, 10]

## Tuple is immutable

In [49]:
a = (1, 2, 3, 4, 5, 5, 5, 5)

In [50]:
a[2: 6]

(3, 4, 5, 5)

In [48]:
a[2] = 13

TypeError: 'tuple' object does not support item assignment

## String

In [51]:
s = "This is a string"
print(s)
type(s)

This is a string

str

In [54]:
s[-6:]

'string'

In [55]:
s[3] = 'r'

TypeError: 'str' object does not support item assignment

## Set - Unordered

In [56]:
set1 = {1, 2, 3, 4, 5}

In [57]:
type(set1)

set

In [58]:
set1[2]

TypeError: 'set' object is not subscriptable

In [70]:
set2 = {1,1,1,1,1, 2,2,2,2,2,4,3,3,3,3, 5, 8, 0, 6, 6 , 'string', 'string'}

In [71]:
set2

{0, 1, 2, 3, 4, 5, 6, 8, 'string'}

## Dictionary

#Unordered collection of the key-value pair

In [74]:
dict1 = {1: 'value1', 2:'value2', 3:'value3'}

In [75]:
type(dict1)

dict

In [77]:
dict1[1], dict1[3]

('value1', 'value3')

In [78]:
dict1['value2']

KeyError: 'value2'

## Data type conversion

In [1]:
float(10)

10.0

In [2]:
int(10.5)

10

In [3]:
float('5.5')

5.5

In [4]:
str(20)

'20'

##

## Conversion of sequences from one to another

In [7]:
set([1, 2, 5, 7, 7])

{1, 2, 5, 7}

In [9]:
tuple({5, 81, 68, 68})

(81, 68, 5)

In [16]:
list('WORD')

['W', 'O', 'R', 'D']

In [12]:
print(dict([["Name", "John"], [10, 50]]))

{'Name': 'John', 10: 50}

## Type conversion

- Implicit conversion
- Explicit conversion

In [18]:
int_var = 587
float_var = 55.7

conversion1 = int_var + float_var

print('Datatype of int_var is: ', type(int_var))
print('Datatype of float_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Datatype of int_var is:  <class 'int'>
Datatype of float_var is:  <class 'float'>
The new value after conversion is:  642.7
Datatype of conversion1 is:  <class 'float'>

In [19]:
int_var = 587
string_var = "55.7"

conversion1 = int_var + string_var

print('Datatype of int_var is: ', type(int_var))
print('Datatype of string_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
int_var = 587
string_var = "55.7"

conversion1 =  float(string_var) + (int_var )

print('Datatype of int_var is: ', type(int_var))
print('Datatype of string_var is: ', type(float_var))
print('The new value after conversion is: ', conversion1)
print('Datatype of conversion1 is: ', type(conversion1))

Datatype of int_var is:  <class 'int'>
Datatype of string_var is:  <class 'float'>
The new value after conversion is:  642.7
Datatype of conversion1 is:  <class 'float'>

## Input

In [35]:
num = input('Enter the first number: ')
num1 = input('Enter the second number: ')


add = num + num1
print(add)

Enter the first number: 1
Enter the second number: 5
15

In [32]:
a = eval('10+8')
print(a)

18

## Operators

In [42]:
x = 10
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x/y)
print((x//y))
print(x**y)
print(x%y)

14
6
40
2.5
2
10000
2

In [41]:
round(2.8)

3

## Logical operators

In [45]:
x = True
y = False
z = True

print(x and y)
print(x or y)
print(not x)
print( not y)
print( not z)

False
True
False
True
False

## Assignment operators

In [58]:
x1 = 15
y1 = 15

x2 = 'Hello'
y2 = 'Hello'

x3 = [15, 2, 3]
y3 = [15, 2, 3]

x4 = (1, 2, 3)
y4 = (1, 2, 3)

x5 = {1, 5, 8}
y5 = {1, 5, 8}

In [47]:
print(x1 is y1)
# print(x1 is not y1)

True

In [49]:
print(x2 is y2)

True

In [50]:
print(x3 is y3)

False

In [51]:
print(x4 is y4)

False

In [54]:
print(x5 is y5)

False

In [55]:
id(x1), id(y1)

(2424839236336, 2424839236336)

In [56]:
id(x2), id(y2)

(2424920194160, 2424920194160)

In [57]:
id(x3), id(y3)

(2424919921152, 2424920276544)

In [60]:
id(x3[0]), id(y3[0])

(2424839236336, 2424839236336)

## Membership operators

In [73]:
x = 'Hello world'
y = {10: 'a', 12: 'b', 10:'d', 12:'l'}

In [74]:
y[12]

'l'

In [62]:
print('H' in x)

True

In [63]:
print('hello' not in x)

True

In [68]:
print(10 in y)

True

In [65]:
print('a' in y)

False

## If statement

In [76]:
num = int(input('Enter the value:'))

if num >= 0:
    print('Positive')
else:
    print('Negative')

Enter the value:-5
Negative

### if else

In [107]:
num = int(input('Enter the value:'))

if num > 0:
    print('Positive')
elif num == 0: #else if
    print('Zero')
else:
    print('Negative')

Enter the value:-1
Negative

### Nested if

In [83]:
num = int(input('Enter the value:'))

if num >= 0:
    if num == 0:
        print('Zero')
    else:
        print('Positive')
else:
    print('Negative')

Enter the value:-2
Negative

## For loop

In [100]:
# list = [1, 2, 3, 4, 5]

In [103]:
list({'Delhi', 'Chennai', 'Kolkata'})

['Delhi', 'Kolkata', 'Chennai']

In [102]:
del list

In [91]:
# del list

In [ ]:
list1[{}]

In [85]:
list1 = [5, 6, 8, 10]

In [86]:
list1[2]

8

In [87]:
list[2]

3

In [88]:
list[0] = 10

In [89]:
list

[10, 2, 3, 4, 5]

In [90]:
list([1, 52, 32])

TypeError: 'list' object is not callable

In [95]:
var_list = [5, 21, 63]

In [96]:
type(var_list)

list

In [97]:
var_list2 = list([5, 21, 63])

In [98]:
type(var_list2)

list

In [104]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    add = add + i # 0 + 12 = 12    
    print(add) # loop print statement
print('The final value of add is ', add)

12
25
39
54
The final value of add is  54

In [106]:
list1 = [12, 13, 14, 15]
add = 0

for i in list1:
    if i == 14:
        continue
    print(i)

12
13
15

In [1]:
list_city = ['Chennai', 'Kolkata', 'Mumbai']
len(list_city)

3

In [3]:
list(range(len(list_city)))

[0, 1, 2]

In [5]:
for i in range(len(list_city)):
    print('I like to go to: ', list_city[i])

I like to go to:  Chennai
I like to go to:  Kolkata
I like to go to:  Mumbai

In [6]:
num = [1, 10, 100]

for i in num:
    print('I have ', i, 'days')
    
else:
    print('Else block')

I have  1 days
I have  10 days
I have  100 days
Else block

In [14]:
num = [1, 10, 100]

for i in num:
    if i==10:
        break
    print('the number is: ', i)
else:
    print('I have', i, 'days')

the number is:  1

## While loop

In [18]:
#sum of numbers

num = int(input('Enter the number'))

i = 0
sum_var = 0

while i < num:
    sum_var = sum_var + i
#     print(i)
    i = i + 1 #update this counter


print('The sum of numbers is :' ,sum_var)

#0+1+2+3+4

Enter the number5
0
1
2
3
4
The sum of numbers is : 10

In [19]:
i = 0
sum_var = 0

while i < num:
    i = i + 1
else:
    print(i)

5

## Break, continue and pass

In [23]:
for i in 'Country':
    if i in ['r', 'r']:
        break
    print(i)

C
o
u
n
t

In [ ]:
for i in 'Country':
    if i == 'r':
        continue
    print(i)

In [21]:
#pass statement explanation

list_val = ['P', 'a', 's', 's']

for i in list_val:
    pass #add some logic later

## Functions

In [24]:
def greetings(name):
    """Function to greet someone"""
    print("Hello", name, "How're you")

In [25]:
greetings('guys')

Hello guys How're you

In [26]:
print(greetings.__doc__)

Function to greet someone

In [29]:
def Absoluteval(val):
    val1=abs(val)
    return val1

In [32]:
ret_var = Absoluteval(-9)
ret_var

9

In [33]:
def value(k):
    if k>0 :
        print (k)
    elif k<0:
        t= k * -1
        print(t)
value(-9)

9

In [34]:
def func1(a):
    """test"""
    if a>0:
        print(a)
    else:
        a=a*-1
        print(a)

In [35]:
func1(-8)

8

In [36]:
def absolute(num):
    if(num > 0):
        return num
    else:
        num = -1*num
        return num

In [37]:
absolute(-8)

8

In [38]:
def absolute_val(value):
    """Function to return the absolute value"""
    if value > 0:
        return value
    else:
        return -value

In [41]:
absolute_val(-50)

50

In [42]:

def func():
    a = 10 #local variable
    print('Inside the function ', a)
    
a = 20 #global variable
func()

print('Outside the function', a)

Inside the function  10
Outside the function 20

## Function arguments

### Positional arguments

In [43]:
def greet(arg1, arg2):
    """Function with arguments"""
    print(arg1, arg2, 'everyone!')

In [46]:
greet()

TypeError: greet() missing 2 required positional arguments: 'arg1' and 'arg2'

In [45]:
greet('Good', 'Evening')

Good Evening everyone!

### Default arguments

In [51]:
def greet(arg1, arg2 = "Good morning"):
    print("Hello", arg1, arg2)

In [48]:
greet('people')

Hello people Good morning

In [49]:
greet('people', "How are you")

Hello people How are you

In [50]:
def greet(arg2 = "Good morning", arg1):
    print("Hello", arg1, arg2)

SyntaxError: non-default argument follows default argument (Temp/ipykernel_5156/2964982374.py, line 1)

## Keyword arguments

In [52]:
greet(arg1 = "Hi", arg2 = "Everyone")
greet(arg2 = "Everyone", arg1 = "Hi")
greet("Hi", arg2="Everyone")

Hello Hi Everyone
Hello Hi Everyone
Hello Hi Everyone

In [56]:
greet("Hi",  "Everyone")

Hello Hi Everyone

## Recursion

In [58]:
# factorial of a number
# 5!
#1!

In [57]:
5 * 4 * 3 * 2 * 1

120

In [60]:

def recursion(x):
    if x == 1:
        return x
    else:
        return (x * recursion(x-1))
    
num = 5
print('Factorial of', num, 'is', recursion(num))

Factorial of 5 is 120

## Lambda  - Anonymous function

In [65]:
cube = lambda x, y : x*  y
cube(10, 5)

50

## Filter

- Filter takes in a function and a list of argument/dict
- The function is called with the items in the list, and a new list is returned containing the items for which the functions evaluates to True

In [68]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [75]:
fil = list(filter(lambda x : x % 2 == 0, my_list))
print('Applying the filter operation: ', fil)

Applying the filter operation:  [0, 2, 4, 6, 8]

## Map

- Filter takes in a function and a list of argument/dict
- Every items in the list will be returned based on the function that we're performing

In [80]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x%2, my_list))
print(new_list)

[1, 1, 0, 0, 0, 1, 1, 0]

In [81]:
fil11 = list(map(lambda x : x.upper(), ['a', 'b', 'c']))
print(fil11)

['A', 'B', 'C']

In [82]:
my_dict = {10: 'B', 20: 'A', 30: 'A', 40: 'B', 50: 'A'}  

filt1 = list((filter(lambda x : x > 10, my_dict)))
print(filt1)

[20, 30, 40, 50]

In [84]:
def fun(var):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (var in letters):
        return True
    else:
        return False
    
seq = ['a', 'b', 'c', 'd', 'e']
fil = list(filter(fun,seq))
print (fil)

['a', 'e']