In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split



from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [3]:
def rmsle(y_true, y_pred):
    return 1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean())

In [4]:
train  = pd.read_csv("train_preprocessed.csv")
test = pd.read_csv("test_preprocessed.csv")

In [5]:
train

,Publication_Hardcover,Publication_Paperback,Publication_other,BookCategory_Action & Adventure,"BookCategory_Arts, Film & Photography","BookCategory_Biographies, Diaries & True Accounts",BookCategory_Comics & Mangas,"BookCategory_Computing, Internet & Digital Media","BookCategory_Crime, Thriller & Mystery",BookCategory_Humour,"BookCategory_Language, Linguistics & Writing",BookCategory_Politics,BookCategory_Romance,BookCategory_Sports,Reviews,Ratings,Age_of_book,Price
0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,4.0,8,6,220.00
1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,3.9,14,10,202.93
2,0,1,0,0,0,0,0,0,0,1,0,0,0,0,4.8,6,40,299.00
3,0,1,0,0,0,0,0,0,1,0,0,0,0,0,4.1,13,5,180.00
4,1,0,0,0,1,0,0,0,0,0,0,0,0,0,5.0,1,16,965.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,0,1,0,0,0,0,0,0,0,1,0,0,0,0,5.0,2,4,322.00
6233,0,1,0,0,0,0,0,0,1,0,0,0,0,0,3.3,9,6,421.00
6234,0,1,0,0,0,0,0,0,0,0,0,0,1,0,3.8,3,16,399.00
6235,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3.5,4,7,319.00
6236,0,1,0,1,0,0,0,0,0,0,0,0,0,0,3.9,2,6,452.00

In [7]:
X = train.drop(columns = "Price")

In [9]:
y = train['Price']

In [10]:
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size = 0.2,random_state=32)

In [27]:
def run_model_evaluate(model, train_X, train_y, test_X, test_y, X, y, test, filename ):
    model.fit(train_X, train_y)
    train_pred = model.predict(train_X)
    test_pred = model.predict(test_X)
    print("TRAIN RMSLE : ",rmsle(train_y, train_pred))
    print("TEST RMSLE : ",rmsle(test_y, test_pred))
    model.fit(X, y)
    pred = model.predict(test)
    res = pd.DataFrame(pred,columns = ['Price'])
    res.to_csv(filename, index = False)

In [28]:
linear_reg = LinearRegression()
run_model_evaluate(linear_reg, train_X, train_y, test_X, test_y, X, y, test, "linear_reg.csv" )

TRAIN RMSLE :  0.6816210546135244
TEST RMSLE :  0.6838789418169673

/var/folders/02/n950_yc963qdyzpwj00gmdm40000gn/T/ipykernel_50330/986885743.py:2: RuntimeWarning: invalid value encountered in log10
  return 1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean())

In [29]:
decision_tree = DecisionTreeRegressor()
run_model_evaluate(decision_tree, train_X, train_y, test_X, test_y, X, y, test, "decision_tree.csv" )

TRAIN RMSLE :  0.8937215541871609
TEST RMSLE :  0.6179816528072641

In [30]:
random_forest = RandomForestRegressor()
run_model_evaluate(random_forest, train_X, train_y, test_X, test_y, X, y, test, "random_forest.csv" )

TRAIN RMSLE :  0.827442608252008
TEST RMSLE :  0.6888011532468563