In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split



from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor

In [11]:
def rmsle(y_true, y_pred):
    return 1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean())

In [12]:
train  = pd.read_csv("train_preprocessed_2.csv")
test = pd.read_csv("test_preprocessed_2.csv")

In [13]:
train

,Publication_Hardcover,Publication_Paperback,Publication_other,Title,Author,Edition,Reviews,Ratings,Synopsis,Genre,BookCategory,Price,Age_of_book
0,0,1,0,1,4,431,4.0,8,1,1183,1036,220.00,6
1,0,1,0,2,2,446,3.9,14,2,92,732,202.93,10
2,0,1,0,3,3,366,4.8,6,3,25,670,299.00,40
3,0,1,0,1,87,559,4.1,13,1,325,878,180.00,5
4,1,0,0,1,1,117,5.0,1,1,47,638,965.62,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6232,0,1,0,1,1,380,5.0,2,1,22,670,322.00,4
6233,0,1,0,1,4,446,3.3,9,1,325,878,421.00,6
6234,0,1,0,1,3,435,3.8,3,1,517,702,399.00,16
6235,0,1,0,1,2,478,3.5,4,1,1183,1036,319.00,7
6236,0,1,0,1,2,334,3.9,2,1,1183,1036,452.00,6

In [14]:
X = train.drop(columns = "Price")

In [15]:
y = train['Price']

In [16]:
train_X, test_X, train_y, test_y = train_test_split(X,y,test_size = 0.2,random_state=32)

In [17]:
def run_model_evaluate(model, train_X, train_y, test_X, test_y, X, y, test, filename ):
    model.fit(train_X, train_y)
    train_pred = model.predict(train_X)
    test_pred = model.predict(test_X)
    print("TRAIN RMSLE : ",rmsle(train_y, train_pred))
    print("TEST RMSLE : ",rmsle(test_y, test_pred))
    model.fit(X, y)
    pred = model.predict(test)
    res = pd.DataFrame(pred,columns = ['Price'])
    res.to_csv(filename, index = False)

In [18]:
linear_reg = LinearRegression()
run_model_evaluate(linear_reg, train_X, train_y, test_X, test_y, X, y, test, "linear_reg.csv" )

TRAIN RMSLE :  0.650032505285194
TEST RMSLE :  0.6471573999794145

/var/folders/02/n950_yc963qdyzpwj00gmdm40000gn/T/ipykernel_50750/986885743.py:2: RuntimeWarning: invalid value encountered in log10
  return 1 - np.sqrt(np.square(np.log10(y_pred +1) - np.log10(y_true +1)).mean())

In [19]:
decision_tree = DecisionTreeRegressor()
run_model_evaluate(decision_tree, train_X, train_y, test_X, test_y, X, y, test, "decision_tree.csv" )

TRAIN RMSLE :  0.9787806603360645
TEST RMSLE :  0.6373363470618321

In [20]:
random_forest = RandomForestRegressor()
run_model_evaluate(random_forest, train_X, train_y, test_X, test_y, X, y, test, "random_forest.csv" )

TRAIN RMSLE :  0.8562223185591531
TEST RMSLE :  0.7136624894094886